* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 0rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(83, 70, 96);
}

/*navbar*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  margin-top: -4px;
}

.logo {
  color: rgb(216, 148, 148);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 18px;
}

.nav_links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: relative;
  overflow: hidden;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  color: rgb(216, 148, 148);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav_links a:hover {
  border-bottom: 3px solid rgb(83, 70, 96);
}

/*banner*/

.banner {
  padding-top: 50px;
  padding-bottom: 0px;
  background-image: url("../images/code.jpg");
  opacity: 0.75;
  background-size: cover;
  background-position: center;
  height: 505px;
  width: 100%;
  background-repeat: no-repeat;
}

.h2banner {
  color: beige;
  text-align: center;
  font-size: 40px;
  padding: 80px 80px;
  letter-spacing: 5px;
}

/*about me*/

.aboutme h2 {
  margin-right: 15px;
  font-size: 30px;
  color: beige;
  text-decoration: underline;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.aboutme p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: beige;
  font-size: 20px;
}

/*my work*/

.container {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px 5px;
  grid-template-areas:
    "horiseon horiseon"
    "project-2 project-3"
    "project-4 project-5";
}

#work h2 {
  color: beige;
  font-size: 30px;
  margin-right: 15px;
  text-decoration: underline;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#work h3 {
  color: rgb(83, 70, 96);
  font-size: 20px;
}

img {
  width: 600px;
  height: 400px;
}

.horiseonimg {
  width: 700px;
}

.horiseon {
  grid-area: horiseon;
  border: 3px solid #ccc;
  margin: 40px;
  background-color: beige;
}

.project-2 {
  grid-area: project-2;
  width: 606px;
  border: 3px solid #ccc;
  margin: 40px;
  background-color: beige;
}

.project-3 {
  grid-area: project-3;
  width: 606px;
  border: 3px solid #ccc;
  margin: 40px;
  background-color: beige;
}

.project-4 {
  grid-area: project-4;
  width: 606px;
  border: 3px solid #ccc;
  margin: 40px;
  background-color: beige;
}

.project-5 {
  grid-area: project-5;
  width: 606px;
  border: 3px solid #ccc;
  margin: 40px;
  background-color: beige;
}

/*contact*/

.contact {
  display: flex;
  justify-content: space-around;
  background-color: beige;
  margin-top: 4px;
}

.contactme h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(216, 148, 148);
  text-decoration: underline;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.contactme li {
  list-style: none;
  display: inline;
  text-align: center;
  margin: 6px;
}

.contactme a {
  color: rgb(216, 148, 148);
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 14px;
}

/*footer*/

footer {
  background-color: beige;
  color: rgb(216, 148, 148);
  font-size: 14px;
  text-align: center;
  margin-top: -15px;
}

@media only screen and (max-width: 700px) {}